.gallerySection {
  padding: 80px 0;
  background-color: var(
    --lightColor2
  ); /* Fundal deschis, consistent cu restul site-ului */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.galleryTitle {
  font-family: var(--fontFamilyRobotoSlab);
  font-weight: var(--fontWeight700);
  font-size: var(--fontSize40);
  color: var(--darkColor);
  text-align: center;
  margin-bottom: 48px;
}
.gallerySubtitle {
  font-family: var(--fontFamilyRobotoSlab);
  font-weight: var(--fontWeight700);
  font-size: var(--varfontSize28);
  color: var(--darkColor);
  text-align: center;
  margin-bottom: 48px;
}
.galleryGrid {
  display: grid;
  /* Creează coloane responsive, de minim 300px */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.imageWrapper {
  overflow: hidden;
  border-radius: var(--borderRadius10);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asigură că imaginea umple spațiul fără a se deforma */
  display: block;
  transition: transform 0.4s ease;
}

.imageWrapper:hover .galleryImage {
  transform: scale(1.05); /* Efect de zoom la hover */
}
